{
    "plugins": [
      "transform-object-assign",
      "transform-class-properties",
      "transform-object-rest-spread"
    ],
    "presets": [
      "stage-3",
      [
        "env", {
        "targets": {
          "browsers": [
            "last 2 versions",
            "Safari >= 10",
            "Explorer 11",
            "last 4 Edge versions"
          ]
        },
        "useBuiltIns": true
      }]
    ]
  }