
<ul class="icons">
    <li><a href="{{ .Site.Params.social.twitter }}"><i class="fab fa-twitter"></i></a></li>
    <li><a href="{{ .Site.Params.social.github }}"><i class="fab fa-github"></i></a></li>
    <li><a href="{{ .Site.Params.social.linkedin }}"><i class="fab fa-linkedin"></i></a></li>
    <li><a href="mailto:{{ .Site.Params.Email }}"><i class="fas fa-envelope"></i></a></li>
    <li><a href="/key.asc"><i class="fas fa-key"></i></a></li>
    <li><a href="/index.xml" rel="feed" type="application/rss+xml" target="_blank"><i class="fas fa-rss"></i></a></li>
</ul>