
<ul class="icons">
    <li><a href="{{ .Site.Params.social.twitter }}" class="fab fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="{{ .Site.Params.social.github }}" class="fab fa-github"><span class="label">Github</span></a></li>
    <li><a href="{{ .Site.Params.social.linkedin }}" class="fab fa-linkedin"><span class="label">LinkedIn</span></a></li>
    <li><a href="mailto:{{ .Site.Params.Email }}" class="fas fa-envelope"><span class="label">Email</span></a></li>
    <li><a href="/key.asc" class="fas fa-key"><span class="label">GPG</span></a></li>
    <li><a href="/index.xml" rel="feed" type="application/rss+xml" target="_blank" class="fas fa-rss"><span class="label">RSS</span></a></li>
</ul>