<!DOCTYPE html>
<html> 
  <head>
    {{ partial "head" . }}
  </head>
  <body>
    {{ partial "header.html" . }}
    {{ partial "menu.html" . }}
    
    <div id="wrapper">
        <div id="main">
            <article class="post">
                <header>
                    <div class="title center">
                        <h2>{{ .Title }}</h2>
                        <p>{{ .Params.description }}</p>
                    </div>
                </header>
                <div id="content">
                    {{ .Content|markdownify }}
                </div>
            </article>
          <div class="mini-posts books">
            {{ range first 10 (where .Site.Pages "Type" "book") }}
              {{ partial "mini-post-books" . }}
            {{ end }}
          </div>
        </div>
    </div>
    <section id="footer">
        {{ partial "social.html" . }}
        {{ partial "footer.html" . }}
    </section>
    </body>
    {{ partial "scripts.html" . }}
</html>